.thumbnail
{
    width: 100%;
}

.video-title
{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 1000;

    margin-bottom: 12px;
}
.video-author,
.video-stats
{
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author
{
    margin-bottom: 4px;
}

.channel-picture
{
    width: 50px;
    vertical-align: top;
}
.video-info
{
    width: 200px;
    margin-bottom: 0px;
}
.profile-picture
{
    width: 40px;
    margin-top: 10px;
    border-radius: 50px;
}
.video-info-grid
{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 20px;
}
.video-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    overflow: auto;
    margin-left: 40px;
    margin-top: 40px;
}