.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 1000;

  margin-bottom: 12px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.channel-picture {
  width: 50px;
  vertical-align: top;
}

.video-info {
  width: 200px;
  margin-bottom: 0px;
}

.profile-picture {
  width: 40px;
  margin-top: 10px;
  border-radius: 50px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  margin-left: 100px;
  margin-top: 10px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pov_img
{
  height :80px;
  width :80px;
}

